In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
# warining 경고 안보이게
warnings.filterwarnings(action='ignore')
# warining 경고 보이게
# warnings.filterwarnings(action='default')

In [3]:
movies = pd.read_csv('../프로젝트csv/movies.csv')

In [4]:
# 필요없는 컬럼 삭제
movies = movies.drop(columns={'NO','DRCTR_NM','MAKR_NM','INCME_CMPNY_NM','MOVIE_TY_NM','MOVIE_STLE_NM','NLTY_NM','SALES_PRICE',
                    'SEOUL_SALES_PRICE','SEOUL_VIEWNG_NMPR_CO' ,'MOVIE_SDIV_NM'})
# 컬럼명 변경
movies = movies.rename(columns={'MOVIE_NM':'영화제목', 'DISTB_CMPNY_NM':'유통회사명', 'OPN_DE':'개봉일', 
                                'TOT_SCRN_CO':'총스크린수', 'VIEWNG_NMPR_CO':'관람객수', 
                                'GENRE_NM':'장르', 'GRAD_NM':'등급', '네이버_평점':'네이버_평점', 
                                '씨네21_평점':'씨네21_평점'})
movies.head()

,영화제목,유통회사명,개봉일,총스크린수,관람객수,장르,등급,네이버_평점,씨네21_평점
0,소울,월트디즈니컴퍼니코리아 유한책임회사,20210120,2018,875001,애니메이션,전체관람가,9.32,8.5
1,극장판 귀멸의 칼날: 무한열차편,워터홀컴퍼니(주),20210127,380,206309,애니메이션,15세이상관람가,NaN,6.0
2,원더 우먼 1984,워너브러더스 코리아(주),20201223,2260,155562,액션,12세이상관람가,7.54,5.5
3,세자매,(주)리틀빅픽쳐스,20210127,569,42290,드라마,15세이상관람가,8.95,5.0
4,명탐정 코난: 진홍의 수학여행,(주)씨제이이엔엠,20210127,532,38131,애니메이션,12세이상관람가,8.02,5.0

In [5]:
# 개봉일 datetype으로 변환
movies['개봉년도'] = movies['개봉일'].str[:4]
movies['개봉월'] = movies['개봉일'].str.replace('-','').str[4:6]
print(movies['개봉년도']), print(movies['개봉월'])

0       2021
1       2021
2       2020
3       2021
4       2021
        ...
6038    2024
6039    2024
6040    2024
6041    2024
6042    2024
Name: 개봉년도, Length: 6043, dtype: object
0       01
1       01
2       12
3       01
4       01
        ..
6038    11
6039    08
6040    10
6041    09
6042    07
Name: 개봉월, Length: 6043, dtype: object

(None, None)

In [6]:
# type확인
movies.info()
# 컬럼별 결측치 수 확인
movies.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6043 entries, 0 to 6042
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영화제목     6043 non-null   object
 1   유통회사명    6043 non-null   object
 2   개봉일      6041 non-null   object
 3   총스크린수    5638 non-null   object
 4   관람객수     4188 non-null   object
 5   장르       6029 non-null   object
 6   등급       6043 non-null   object
 7   네이버_평점   5479 non-null   float64
 8   씨네21_평점  4731 non-null   float64
 9   개봉년도     6041 non-null   object
 10  개봉월      6041 non-null   object
dtypes: float64(2), object(9)
memory usage: 519.4+ KB

영화제목          0
유통회사명         0
개봉일           2
총스크린수       405
관람객수       1855
장르           14
등급            0
네이버_평점      564
씨네21_평점    1312
개봉년도          2
개봉월           2
dtype: int64

In [7]:
# 개봉년도  개봉월 분리 후 개봉일 삭제 후 컬럼순서 변경
movies = movies.drop(columns='개봉일')
movies = movies[['영화제목','유통회사명','개봉년도','개봉월','총스크린수','관람객수','장르','등급','네이버_평점','씨네21_평점']]
movies.head()

,영화제목,유통회사명,개봉년도,개봉월,총스크린수,관람객수,장르,등급,네이버_평점,씨네21_평점
0,소울,월트디즈니컴퍼니코리아 유한책임회사,2021,01,2018,875001,애니메이션,전체관람가,9.32,8.5
1,극장판 귀멸의 칼날: 무한열차편,워터홀컴퍼니(주),2021,01,380,206309,애니메이션,15세이상관람가,NaN,6.0
2,원더 우먼 1984,워너브러더스 코리아(주),2020,12,2260,155562,액션,12세이상관람가,7.54,5.5
3,세자매,(주)리틀빅픽쳐스,2021,01,569,42290,드라마,15세이상관람가,8.95,5.0
4,명탐정 코난: 진홍의 수학여행,(주)씨제이이엔엠,2021,01,532,38131,애니메이션,12세이상관람가,8.02,5.0

In [8]:
# 결측치 처리 ['장르'] 2개 기타로 
movies[movies['장르'].isnull()]
movies['장르'] = movies['장르'].fillna('기타')
movies[movies['장르']=='기타']

,영화제목,유통회사명,개봉년도,개봉월,총스크린수,관람객수,장르,등급,네이버_평점,씨네21_평점
88,마지막 휴가,(주)드림팩트엔터테인먼트,2020,12,11,89,기타,15세이상관람가,9.17,3.00
169,"구라, 베토벤",목영이엔엠,2021,02,11,2602,기타,15세이상관람가,NaN,5.00
332,"구라, 베토벤",목영이엔엠,2021,02,11,992,기타,15세이상관람가,NaN,5.00
468,잃어버린 아이들,(주)영화사오원,2021,04,26,678,기타,12세이상관람가,8.65,6.00
496,나의 먼 가족,주식회사 씨엠닉스,2021,04,1,121,기타,12세이상관람가,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...
5828,"안전제일, 놀이퀴즈 최강전",(주)니즈텔레콤,2024,04,2,490,기타,전체관람가,0.00,5.67
5830,우당탕탕 운동회,(주)니즈텔레콤,2024,04,1,469,기타,전체관람가,8.30,4.50
5835,쿵쿵따 탐험대,(주)니즈텔레콤,2024,06,2,399,기타,전체관람가,0.00,6.00
6009,애시드 레인: 죽음의 비,(주)디스테이션,2024,11,48,"2,508",기타,15세이상관람가,8.94,5.00
6034,호랑님의 생일날,(주)니즈텔레콤,2024,10,1,699,기타,전체관람가,6.37,6.75

In [9]:
# 개봉월 결측치 2개 삭제
movies = movies.dropna(subset=['개봉월'])
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6041 entries, 0 to 6042
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영화제목     6041 non-null   object
 1   유통회사명    6041 non-null   object
 2   개봉년도     6041 non-null   object
 3   개봉월      6041 non-null   object
 4   총스크린수    5636 non-null   object
 5   관람객수     4186 non-null   object
 6   장르       6041 non-null   object
 7   등급       6041 non-null   object
 8   네이버_평점   5478 non-null   float64
 9   씨네21_평점  4729 non-null   float64
dtypes: float64(2), object(8)
memory usage: 519.1+ KB

In [10]:
# 결측치 처리 ['총스크린수'] 총스크린수 중위수으로 대체 
movies['총스크린수'] = movies['총스크린수'].str.replace(',','').astype(np.float32)
median_screen_count = movies['총스크린수'].median()
movies['총스크린수'] = movies['총스크린수'].fillna(median_screen_count)
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6041 entries, 0 to 6042
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영화제목     6041 non-null   object
 1   유통회사명    6041 non-null   object
 2   개봉년도     6041 non-null   object
 3   개봉월      6041 non-null   object
 4   총스크린수    6041 non-null   float32
 5   관람객수     4186 non-null   object
 6   장르       6041 non-null   object
 7   등급       6041 non-null   object
 8   네이버_평점   5478 non-null   float64
 9   씨네21_평점  4729 non-null   float64
dtypes: float32(1), float64(2), object(7)
memory usage: 495.6+ KB

In [11]:
# 결측치 처리 ['장르']['개봉월']을 사용하여 ['관람인원수']['네이버_평점']['씨네21_평점']평균으로 대체
movies['관람객수'] = movies['관람객수'].str.replace(',', '').astype(np.float32)
movies_visitors = movies.groupby(['장르', '개봉월'])['관람객수'].mean().unstack()
# movies_visitors
naver_mean = movies.groupby(['장르', '개봉월'])['네이버_평점'].mean().unstack()
# naver_mean
cine_mean = movies.groupby(['장르', '개봉월'])['씨네21_평점'].mean().unstack()
# cine_mean

In [12]:
def fillna_mean(row):
    row = row.copy()
    visitors = row['관람객수']
    ngrade = row['네이버_평점']
    cgrade = row['씨네21_평점']
    genre = row['장르']
    month = row['개봉월']
    
    if pd.isna(visitors):
        row['관람객수'] = movies_visitors.loc[genre, month]
    if pd.isna(ngrade):
        row['네이버_평점'] = naver_mean.loc[genre, month]
    if pd.isna(cgrade):
        row['씨네21_평점'] = cine_mean.loc[genre, month]
    return row

In [13]:
# 함수 test
print(fillna_mean(movies.loc[45])) # 관람객수 160 # 네이버 12 # 씨네21 45

영화제목       라이어트: 기계들의 역습
유통회사명           (주)노바이앤티
개봉년도                2020
개봉월                   12
총스크린수               52.0
관람객수              1205.0
장르                    SF
등급              15세이상관람가
네이버_평점              3.71
씨네21_평점         5.142857
Name: 45, dtype: object

In [14]:
movies = movies.apply(fillna_mean, axis=1)
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6041 entries, 0 to 6042
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영화제목     6041 non-null   object
 1   유통회사명    6041 non-null   object
 2   개봉년도     6041 non-null   object
 3   개봉월      6041 non-null   object
 4   총스크린수    6041 non-null   float64
 5   관람객수     6040 non-null   float64
 6   장르       6041 non-null   object
 7   등급       6041 non-null   object
 8   네이버_평점   6031 non-null   float64
 9   씨네21_평점  6033 non-null   float64
dtypes: float64(4), object(6)
memory usage: 648.2+ KB

In [16]:
# mean median 적용후 나머지 결측치 drop
movies.loc[movies['관람객수'].isna()] # 결측치 처리후 결측치 1
movies.loc[movies['네이버_평점'].isna()] # 결측치 처리후 결측치 10
movies.loc[movies['씨네21_평점'].isna()] # 결측치 처리후 결측치 36
movies = movies.dropna(subset=['관람객수', '네이버_평점', '씨네21_평점'])
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6024 entries, 0 to 6042
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영화제목     6024 non-null   object
 1   유통회사명    6024 non-null   object
 2   개봉년도     6024 non-null   object
 3   개봉월      6024 non-null   object
 4   총스크린수    6024 non-null   float64
 5   관람객수     6024 non-null   float64
 6   장르       6024 non-null   object
 7   등급       6024 non-null   object
 8   네이버_평점   6024 non-null   float64
 9   씨네21_평점  6024 non-null   float64
dtypes: float64(4), object(6)
memory usage: 517.7+ KB

In [18]:
# ['네이버_평점'], ['씨네21_평점'] 평균으로 평점 column만들기
movies['평균평점'] = (movies['네이버_평점']+movies['씨네21_평점']) /2
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6024 entries, 0 to 6042
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영화제목     6024 non-null   object
 1   유통회사명    6024 non-null   object
 2   개봉년도     6024 non-null   object
 3   개봉월      6024 non-null   object
 4   총스크린수    6024 non-null   float64
 5   관람객수     6024 non-null   float64
 6   장르       6024 non-null   object
 7   등급       6024 non-null   object
 8   네이버_평점   6024 non-null   float64
 9   씨네21_평점  6024 non-null   float64
 10  평균평점     6024 non-null   float64
dtypes: float64(5), object(6)
memory usage: 564.8+ KB

In [19]:
movies.to_csv('../프로젝트csv/movies.csv', index=False, encoding='utf-8')